@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@layer base {
  :root {
    background: #fdfdfd;
    color: #0A0A0A;
    border-color: #0A0A0A;
  }

  .dark {
    background: #0A0A0A;
    color: #fdfdfd;
    border-color: #fdfdfd;
  }
}

::-webkit-scrollbar {
  width: 0;
}